.company-page {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    min-height: 100vh;
    overflow-y: auto;
    padding: 2rem 1rem;
    margin: 0;
    background-color: rgb(171, 248, 248);
}
.company-verify-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    max-width: 800px;
}
.company-verify-container h3 {
    text-align: center;
    font-size: 2rem;
}
.upload-box {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    border: 4px solid black;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}