.institute-upload-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(171, 248, 248);
}
.institute-dashboard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}
.institute-dashboard-title {
    text-align: center;
    font-size: 2rem;
}
.upload-box {
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    border: 4px solid black;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.logout-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-container button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}